.text-field-container {
  //background-color: $secondary;
  min-width: 100%;
  height: 60px;
  border-radius: 0.75em 0.75em 0px 0px;
  box-sizing: border-box;
  position: relative;
  padding: 18px 22px 0px 18px;
  border: 3px solid $border_color;
  border-bottom: 4px solid $border_color;
  transition: all $transition_time linear;
  background-color: $secondary_blind;
  //overflow: hidden;
  font-family: Javan;
  &:focus-within {
    //border: 3px solid $secondary;
    // border-bottom: 4px solid $secondary;
  }
}

.text-field-container-error {
  border-bottom: 4px solid $accent_red;
  &:focus-within {
    border-bottom: 4px solid $accent_red;
  }
}

.text-field-input {
  position: absolute;
  bottom: 5px;
  background-color: inherit;
  font-family: "IRANSansDn";
  font-size: 1.2em;
  border: 0px;
  color: $text_dark;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  width: 90%;
}

.text-field-label {
  position: absolute;
  top: 10px;
  transition: all $transition_time ease-in-out, background 0ms;
  color: $border_color;
  font-weight: 500;
  padding: 0px 4px;
  z-index: 300;
  font-size: 1.4em;
  box-sizing: border-box;
}

.text-field-label-active {
  border: 3px solid $border_color;
  background-color: $secondary_blind;
  border-radius: 4em;
  font-size: 1.2em;
  top: -20px;
}

.text-field-input:focus + .text-field-label {
  border: 3px solid $border_color;
  border-radius: 4em;
  font-size: 1.2em;
  top: -20px;
  background: linear-gradient(110deg, $secondary 35%, $secondary_light 35%);
}

.text-field-label-error {
  color: $text_dark;
}

.text-field-input:focus + .text-field-label.text-field-label-error {
  border: 3px solid $border_color;
  border-radius: 4em;
  font-size: 1.2em;
  top: -20px;
  background: linear-gradient(110deg, $accent_red 35%, $accent_red_light 35%);
}

.text-field-helper {
  margin-right: 22px;
  margin-top: 4px;
  font-size: 0.8em;
  font-weight: 200;
  font-family: "IRANSansDN";
}

.text-field-helper-error {
  color: $accent_red;
}

.text-field-container:focus-within + .text-field-helper {
  //color: $secondary;
}

.text-field-container:focus-within
  + .text-field-helper.text-field-helper-error {
  color: $accent_red;
}

.text-field-icon {
  font-size: 1.5em;
  position: absolute;
  top: 25px;
  left: 25px;
  color: $text_dark;
}

.text-field-input:focus + .text-field-label + .text-field-icon {
  color: $secondary;
}

.text-field-icon-error {
  color: $accent_red;
}

.text-field-input:focus + .text-field-label + .text-field-icon-error {
  color: $accent_red;
}

.badge-container {
  padding: 2px 8px 2px 2px;
  border: 3px solid $border_color;
  border-top: 4px solid $border_color;
  margin-left: 8px;
  font-family: Javan;
  font-size: 1em;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  color: $text_dark;
  background: $secondary_blind;
}

.badge-text {
  display: inline-block;
}

.badge-delete {
  display: flex;
  border: 3px solid $border_color;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  background: $accent_red;
  margin-right: 8px;
  cursor: pointer;
  color: $text_dark
}

.badge-icon {
  font-size: 1em;
}

///

.suggest-root {
  margin-top: 16px;
  border: 3px solid $border_color;
  border-radius: 8px;
  padding: 2px;
  max-height: 100px;
  overflow: auto;
  box-sizing: border-box;
  color: $text_dark;
  background: $secondary_blind;
}

.suggest-item {
  font-family: Javan;
  font-size: 1.3em;
  padding: 2px;
  color: $text_dark;
}

.suggest-item-border-bottom {
  background: $primary_blind;
}