@mixin icon($size) {
  width: $size;
  height: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@mixin gradback($dark_color, $light_color) {
  background: linear-gradient(110deg, $dark_color 35%, $light_color 35%)
}