$primary: #6ee1a3;
$primary_light: #89f69a;
$primary_dark: #6ee1a3;
$primary_blind: #e2f9ed;

$secondary: #e1e269;
$secondary_light: #fafc80;
$secondary_dark: #dadc6c;
$secondary_blind: #fcfcf0;

/**
$secondary: #6EE1A3;
$secondary_light: #89F69A;
$secondary_dark: #6EE1A3;
*/

$accent: #48d1d5;
$accent_light: #71e9c7;
$accent_dark: #2cb2b4;

$accent_red: #f75878;
$accent_red_light: #f75878;
$accent_red_dark: #9d3c53;

$accent_green: #1ecc6c;
$accent_green_light: #00c485;
$accent_green_dark: #008c77;

$accent_orange: #ffb432;
$accent_orange_light: #fce75c;
$accent_orange_dark: #fe9c5a;

$accent_purple: #7e51d1;
$accent_purple_light: #a65fe2;
$accent_purple_dark: #5338af;

// Text Colors
$text_light: #fefefe;
$text_dark: black;

$border_color: black;

$disabled_color: #bcbcbc;
