$primary: #097888;
$primary_light: #1f8fa0;
$primary_dark: #076573;

$secondary: #6a8acf;
$secondary_light: #94a9dc;
$secondary_dark: #1b5172;

$accent_red: #ff5a6d;
$accent_red_light: #ff98a4;
$accent_red_dark: #f54559;

$accent_green: #1ecc6c;
$accent_green_light: #00c485;
$accent_green_dark: #008c77;

$accent_orange: #ffb432;
$accent_orange_light: #fce75c;
$accent_orange_dark: #fe9c5a;

$accent_purple: #7E51D1;
$accent_purple_light: #A65FE2;
$accent_purple_dark: #5338AF;


// Text Colors
$text_light: #fefefe;
$text_dark: black;

$border_color: black;

$disabled_color: #999